.btn {
   color: #212121;
   background-color: #c5cae9;
   text-decoration: none;
   padding: 8px;
   display: inline-block;
   border-radius: 4px;
}
.btn:hover {
  color: #fff;
  background-color: #5c6bc0;
}
.btn:active {
  color: #e8eaf6;
  background-color: #3f51b5;
}
